md-input-container.md-icon-right {
    padding-right: 36px;
    padding-left: 0px;
}

forms-builder {
  height: 100%;

  form {
    height: 100%;
  }

  .hint {
    /* Position the hint */
    position: relative;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
  }
}
